<div class="playlistBody">
  <div class="playlistHeader row" style="background-color:grey;">
    <div class="profileInfo col" style="background-color: yellow;">
      <img src={{user.userPhoto}} alt="User's profile photo">
      <h2>{{user.userJson.display_name}}</h2>
      <h4>X BPM</h4>
    </div>
    <div class="playlistBPM col" style="background-color: yellow;">
      <h3 class="row">Playlist average BPM:</h3>
      <h4 class="row">X BPM</h4>
    </div>
  </div>
  <div class="playlist row" style="background-color: beige;">
    <h3>Our recommendations:</h3>
    <ol>
      <li>Song 1</li>
      <li>Song 2</li>
      <li>Song 3</li>
      <li>Song 4</li>
      <li>Song 5</li>
    </ol>
  </div>
</div>