<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="intro">

  <div class="introHead">
    <img src="/images/waves.png" alt="Spotavibe logo" height="200px" width="auto">
    <h1>SpotaVibe</h1>
  </div>
  <div class="introBody">
    <div class="introCard">
      <div class="introImages">
        <img src="/images/person1.png" alt="Lady reading">
        <img src="/images/person2.png" alt="Man reading">
      </div>
      <p>Music can have a powerful impact on our mood and emotions. Studies have found that music can affect us in
        various
        ways from reducing anxiety, and even lowering blood pressure and heart rate. Scientific research indicates it’s
        possible that music could help relieve harmful symptoms and improve overall mood.
        Enjoy the experience of Spotavibe where your heartrate determines a randomised playlist intended to calm your
        senses and elevate your mood!
      </p>
    </div>
    <div class="loginSpotify">
      <img src="/images/Spotify-Logo.png" alt="Spotify Logo">
      <a href="/auth/spotify">Login with Spotify</a>
    </div>
  </div>


  <script src="/javascripts/script.js"></script>
</body>

</html>