<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="layout">

    <nav class="nav">
      <img src="/images/waves.png" alt="Spotavibe logo" height="auto" width="100px">
      <a href="/profile/playlist">Playlist</a>
      <a href="/profile/stats">Stats</a>
      <a href="/data">Measure</a>
    </nav>

    <div class="body">
      <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/logout">Logout</a>
        <a href="/data">Spot your current vibe</a>
      </nav>

      {{{body}}}
    </div>
  </div>
  <script src="/javascripts/script.js"></script>
</body>

</html>