* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px; }

a {
  color: #00b7ff; }

p {
  color: #138086; }

h1 {
  font-size: 50px;
  font-weight: 600;
  color: white; }

.header {
  padding: 15px 0;
  display: flex; }
  .header h4 {
    color: white; }
  .header h5 {
    color: lightgray; }
  .header .user-info {
    width: 25%;
    text-align: center; }
    .header .user-info img {
      height: 130px;
      border-radius: 15px; }
  .header .title {
    display: flex;
    flex-direction: column;
    justify-content: center; }

/* ----------------------------------------------------------- LAYOUT ----------------------------------------------------------- */
body {
  width: 100%;
  height: 100vh;
  display: flex; }

.layout {
  height: 100%; }

li {
  font-weight: 600; }

.body-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  padding: 90px 40px; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    padding-top: 50px; }
    .navbar .navbar-nav li {
      display: flex; }
      .navbar .navbar-nav li img {
        width: 40px; }

/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */
.progress {
  height: 30px;
  width: 200px;
  position: relative;
  border: 1px solid black;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  stroke: "green"; }
  .progress .progress-inner {
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    top: 0;
    left: 0; }
    .progress .progress-inner.green {
      background: green; }

#canvas {
  width: 160px;
  height: 160px; }

/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */
.loginSpotify img {
  width: 20vw;
  padding: 10px; }

.loginSpotify a {
  color: inherit; }

.info-index {
  margin: 20px; }

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .carousel-caption img {
    padding: 30px; }

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

/* ------------------------------------------------------------- DATA PAGES ------------------------------------------------------------- */
/* ---------------------------------------------------------- MEASUREMENT PAGE ---------------------------------------------------------- */
.content-measurements {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center; }
  .content-measurements h3 {
    margin: 50px 0;
    color: #138086;
    font-weight: 800; }

.data-options {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .data-options img {
    height: auto;
    width: 100px;
    margin: 10px 0; }
  .data-options h4 {
    color: #534666;
    font-weight: 500; }
  .data-options .bpm-option {
    text-align: center;
    width: 30%;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background: #fff;
    float: left; }
  .data-options .bpm-option:hover {
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.2); }

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

/* --------------------------------------------------------------- ARDUINO -------------------------------------------------------------- */
.content-arduino {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center; }
  .content-arduino .arduino .arduinoBPM {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
  .content-arduino .arduino h3 {
    margin: 40px 0;
    color: #138086;
    font-weight: 800; }
  .content-arduino .arduino h4 {
    color: #534666;
    margin: 10px 0; }
  .content-arduino .arduino p {
    margin: 0; }
  .content-arduino .arduino input {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .content-arduino .arduino select {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .content-arduino .arduino button {
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 15px; }

/* --------------------------------------------------------------- MANUAL --------------------------------------------------------------- */
.content-manual {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center; }
  .content-manual .manual-option .manualBPM {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
  .content-manual .manual-option h3 {
    margin: 50px 0;
    color: #138086;
    font-weight: 800; }
  .content-manual .manual-option h4 {
    color: #534666;
    margin: 10px 0; }
  .content-manual .manual-option p {
    margin: 0; }
  .content-manual .manual-option input {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .content-manual .manual-option select {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .content-manual .manual-option button {
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 15px; }

/* --------------------------------------------------------------- TAPPING -------------------------------------------------------------- */
.content-tap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center; }

.content-tapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center; }

.explanation-tap {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .explanation-tap h3 {
    margin: 50px 0;
    color: #138086;
    font-weight: 800; }
  .explanation-tap h5 {
    margin-top: 20px;
    color: #138086; }
  .explanation-tap img {
    width: 350px;
    height: auto;
    border-radius: 20px; }
  .explanation-tap button {
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 15px; }

.tapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tapper .tapperBPM {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
  .tapper h3 {
    margin: 50px 0;
    color: #138086;
    font-weight: 800; }
  .tapper h4 {
    color: #534666;
    margin: 10px 0; }
  .tapper p {
    margin: 0; }
  .tapper input {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .tapper select {
    height: 40px;
    width: 280px;
    border-radius: 15px; }
  .tapper button {
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 15px; }

/* ------------------------------------------------------------ PLAYLIST PAGE ----------------------------------------------------------- */
.content-playlist {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }

.BPM-info {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px; }
  .BPM-info h5 {
    color: white; }

.playlist-recommendations {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .playlist-recommendations h3 {
    margin: 15px 0;
    color: #138086;
    font-weight: 800; }
  .playlist-recommendations .trackBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .playlist-recommendations .trackBlock h5 {
      width: 38%;
      text-align: left; }
    .playlist-recommendations .trackBlock p {
      width: 15%;
      text-align: right; }
    .playlist-recommendations .trackBlock audio {
      width: 30%; }
    .playlist-recommendations .trackBlock img {
      width: 50px;
      height: auto; }

.playlistBPM {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }

/* ------------------------------------------------------------- STATS Page ------------------------------------------------------------- */
.header-background {
  background-image: linear-gradient(to bottom right, #138086, #534666);
  height: 180px;
  width: 100%;
  border-radius: 0 0 30px 30px; }

.content-chart {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .content-chart .stats-chart {
    width: 85%;
    text-align: center; }

#myChart {
  margin: 4px;
  padding: 10px 10px; }

/* -------------------------------------------------------- loading arduino page -------------------------------------------------------- */
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px; }

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: pink;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: pink; }

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%; }

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0; }

@keyframes lds-heart {
  0% {
    transform: scale(0.95); }
  5% {
    transform: scale(1.1); }
  39% {
    transform: scale(0.85); }
  45% {
    transform: scale(1); }
  60% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.9); } }

/*# sourceMappingURL=style.css.map */