* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font: 14px "Roboto", sans-serif; }

a {
  color: #00b7ff; }

h1 {
  font-size: 50px; }

/* ----------------------------------------------------------- LAYOUT STYLING ----------------------------------------------------------- */
.layout {
  display: flex; }

.body {
  width: 100%; }

/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */
.progress {
  height: 30px;
  width: 200px;
  position: relative;
  border: 1px solid black;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  stroke: "green"; }
  .progress .progress-inner {
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    top: 0;
    left: 0; }
    .progress .progress-inner.green {
      background: green; }

#canvas {
  width: 160px;
  height: 160px; }

/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */
.loginSpotify img {
  width: 20vw;
  padding: 10px; }

.loginSpotify a {
  color: inherit; }

.info-index {
  margin: 20px; }

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .carousel-caption img {
    padding: 30px; }

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

/* ------------------------------------------------------------- DATA PAGES ------------------------------------------------------------- */
.data-options {
  flex: display;
  flex-direction: column; }

.arduino-option {
  padding-top: 20px;
  padding-bottom: 20px; }

.tap-option {
  padding: 30px; }

/* ------------------------------------------------------------ PLAYLIST PAGE ----------------------------------------------------------- */
.playlistHeader {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to bottom left, #138086, #534666); }

.playlist {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.userInfo {
  display: flex;
  background-color: pink; }

.playlist-recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px; }

.playlistBPM {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }

/* ------------------------------------------------------------ BOOTSTRAP ---------------------------------------------------------- */
body {
  display: flex; }

.content-measurements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center; }

.manual-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.manualBPM {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; }

.tap-option {
  background-color: pink;
  display: flex; }
  .tap-option a {
    align-content: center;
    align-items: center; }

.content-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }

#myChart {
  margin: 4px;
  padding: 10px 10px; }

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px; }

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: pink;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: pink; }

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%; }

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0; }

@keyframes lds-heart {
  0% {
    transform: scale(0.95); }
  5% {
    transform: scale(1.1); }
  39% {
    transform: scale(0.85); }
  45% {
    transform: scale(1); }
  60% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.9); } }

/*# sourceMappingURL=style.css.map */