* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data-options {
  flex: display;
  flex-direction: column;
}

.arduino-option {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tap-option {
  padding: 30px;
}

h1 {
  font-size: 50px;
}


/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.introHead {
  text-align: center;
  padding: 20px;
}

.introBody {
  display: flex;
  align-items: center;
}

.introCard {
  width: 50vw;
  
  p {
    padding: 20px;
  }

  .introImages {
    text-align: center;

    img {
      width: 20vw;
    }
  }
}


.loginSpotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;

  img {
    width: 25vw;
    padding: 20px;
  }
}