* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

body {
  
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  color: #138085;
}

/* ----------------------------------------------------------- LAYOUT ----------------------------------------------------------- */
body {
  width: 100%;
  display: flex;
}

.layout {
  display: flex;
  height:  100vh;
}

// .nav {
// display: flex;
// flex-direction: column;
// background-image: linear-gradient(to bottom, #DC8665, #EEB462);
// width: 100px;
// height: 100vh;
// align-items: center;
// justify-content: center;
// z-index: 2;
// float: left;
// }

.body-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 90px 45px;

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    padding-top: 50px;

    li {
      display: flex;

      img {
        width: 40px;
      }
    }
  }
}


/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */
// timer

.progress {
  height: 30px;
  width: 200px;
  position: relative;
  border: 1px solid black;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  stroke: "green";

  .progress-inner {
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    top: 0;
    left: 0;

    &.green {
      background: green;
    }

    // &.orange {
    //   background: orange;
    // }

    // &.red {
    //   background: red;
    // }
  }
}

#canvas {
  width: 160px;
  height: 160px;
}

/* ------------------------------------------------------------- FRONT PAGE ------------------------------------------------------------- */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.introHead {
  text-align: center;
  padding: 20px;
}

.introBody {
  display: flex;
  align-items: center;
}

.introCard {
  width: 50vw;

  p {
    padding: 20px;
  }

  .introImages {
    text-align: center;

    img {
      width: 20vw;
    }
  }
}

.loginSpotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;

  img {
    width: 25vw;
    padding: 20px;
  }
}

/* ---------------------------------------------------------- MEASUREMENT PAGE ---------------------------------------------------------- */
.content-measurements {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.manual-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.manualBPM {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.tap-option {
  background-color: pink;
  display: flex;

  a {
    align-content: center;
    align-items: center;
  }
}

.data-options {
  display: flex;
}

.arduino-option {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tap-option {
  padding: 30px;
}

/* ------------------------------------------------------------ PLAYLIST PAGE ----------------------------------------------------------- */

.playlistHeader {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
  // height: 300px;
  width: 100%;
  // margin-left: 150px;
  // z-index: 1;
  background-image: linear-gradient(to bottom left, #138086, #534666);
}

.playlist {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // where is this?
}

.userInfo {
  display: flex;
  background-color: pink;
}

.playlist-recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.playlistBPM {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------- STATS Page ------------------------------------------------------------- */

.content-chart {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#myChart {
  margin: 4px;
  padding: 10px 10px;
}


/* -------------------------------------------------------- loading arduino page -------------------------------------------------------- */

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: pink;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: pink;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
