<h2>Explanation about Arduino</h2>
<h4>image of script</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptates aliquam quaerat quis inventore dolorem
  doloremque fugiat, rem praesentium eaque et officia magni veniam tempore velit, aperiam enim cum. Dolore?????</p>