<h2>Explanation about Arduino</h2>
<h3>Download the following <a href="/public/javascripts/HeartPulseMeasurer_project2.ino" download>Arduino script</a>
</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptates aliquam quaerat quis inventore dolorem
  doloremque fugiat, rem praesentium eaque et officia magni veniam tempore velit, aperiam enim cum. Dolore?????</p>

<h5>So if it's all clear you are ready for the measurements. The only thing ahead is adding the name of your port that
  is connected to the Arduino. Make sure you are sitting in a quite place and place your finger on the sensor</h5>
<form action="/data/arduino" method="post">
  <label for="arduinoPort">Arduino Port: </label>
  <input type="text" name="arduinoPort" id="arduinoPort" value="/dev/cu.wchusbserial1410">
  <button type="submit">!!!!Click to start!!!!</button>
</form>