<h1>Are you ready for the measurements?</h1>
<form action="/data" method="post">
  <label for="arduinoPort">Add the name of your Arduino Port</label>
  <input type="text" name="arduinoPort" id="arduinoPort" value="/dev/cu.wchusbserial1410">
  <button type="submit">!!!!Click to start!!!!</button>
</form>