<div class="content-manual">

  <h1>Find your vibe</h1>
  {{!-- Dropdown menu for genres --}}
  <form>

  </form>
  {{!-- Different input methods --}}

  <div class="manual-option">
    <form action="/data/manual" method="post" class="manualBPM">
      <h3>Choose a genre</h3>
      <select name="dropdown" id='dropdown'>
        {{!-- being populated via DOM manipulation --}}
      </select>
      <h3>Add a name to your playlist</h3>
      <h4>How do you feel?</h4>
      <input type="text" name="playlistName" id="playlistName">
      <hr>
      <h3>Type your BPM</h3>
      <input type="text" name="manualBPM" id="manualBPM">
      <button type="submit">submit</button>
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
    </form>
  </div>
</div>

<script src="/javascripts/genres.js"></script>