<div class="content-manual">

  <div class="header-background">
    <div class="header">
      <div class="user-info">
        <img src="{{user.userPhoto}}" alt="">
        <h4>{{user.userJson.display_name}}</h4>
      </div>
      <div class="title">
        <h1>Find your vibe</h1>
        <h5>Measure your heart rate or choose a BPM</h5>
      </div>
    </div>
  </div>

  <div class="manual-option">
    <form action="/data/manual" method="post" class="manualBPM">
      <h3>Manual BPM Input</h3>
      <h4>Choose a genre</h4>
      <select name="dropdown" id='dropdown'>
        {{!-- being populated via DOM manipulation --}}
      </select>
      <h4>Add a name to your playlist</h4>
      <p>(Perhaps how you feel?)</p>
      <input type="text" name="playlistName" id="playlistName" placeholder="name">
      <h4>Type your BPM</h4>
      <input type="text" name="manualBPM" id="manualBPM" placeholder="BPM value">
      <button type="submit">submit</button>
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
    </form>
  </div>
</div>

<script src="/javascripts/genres.js"></script>