<div class="content-manual">

  <div class="header-background">
    <div class="header">
      <div class="user-info">
        <img src="{{user.userPhoto}}" alt="">
        <h4>{{user.userJson.display_name}}</h4>
      </div>
      <div class="title">
        <h1>Find your vibe</h1>
        <h5>Measure your heart rate or choose a BPM</h5>
      </div>
    </div>
  </div>

  <h1>Find your vibe</h1>
  {{!-- Dropdown menu for genres --}}
  <form>

  </form>
  {{!-- Different input methods --}}

  <div class="manual-option">
    <form action="/data/manual" method="post" class="manualBPM">
      <h3>Choose a genre</h3>
      <select name="dropdown" id='dropdown'>
        {{!-- being populated via DOM manipulation --}}
      </select>
      <h3>Type your BPM</h3>
      <input type="text" name="manualBPM" id="manualBPM">
    </form>
  </div>
</div>