<div class="content-tap">

  <div class="header-background">
    <div class="header">
      <div class="user-info">
        <img src="{{user.userPhoto}}" alt="">
        <h4>{{user.userJson.display_name}}</h4>
      </div>
      <div class="title">
        <h1>Find your vibe</h1>
        <h5>Measure your heart rate or choose a BPM</h5>
      </div>
    </div>
  </div>

  <div class="explanation-tap">
    <h3>Manual measurement of current heart-rate</h3>
    <img src="/images/neck-pulse.jpg" alt="">
    <h5>Find a calm and quiet setting to attain an accurate reading of your current heart-rate.</h5>
    <h5> With one hand, find the pulse in your neck and with the other, prepare to click a counter button for 20
      seconds.</h5>
    <h5>When you're ready, press start</h5>
    <a href="tapper">
      <button id="startbutton">Start</button>
    </a>
  </div>
</div>
<script src="/javascripts/tap.js"></script>