<div class="content">

  <div class="header-background">
    <div class="header">
      <div class="user-info">
        <img src="{{user.userPhoto}}" alt="">
        <h4>{{user.userJson.display_name}}</h4>
      </div>
      <div class="title">
        <h1>Find your vibe</h1>
        <h5>Measure your heart rate or choose a BPM</h5>
      </div>
    </div>
  </div>

  <div class="explanation-tap">
    <h2>Explanation how to tap</h2>
    <h4>nice image</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptates aliquam quaerat quis inventore
      dolorem
      doloremque fugiat, rem praesentium eaque et officia magni veniam tempore velit, aperiam enim cum. Dolore?????</p>
    <a href="tapper">
      <button id="startbutton">Start</button>
    </a>
  </div>
  {{!-- 
  <div class="tapper">
    <button id="tapper">Tap</button>
    <button id="startbutton">Start</button>
    <h1 id="BPM"></h1>
    <div class="progress">
      <div class="progress-inner green"></div>
      {{!-- <canvas id="canvas" width="160" height="20"></canvas> --}}
</div>
</div> --}}
</div>
</a>
<script src="/javascripts/tap.js"></script>