<div class="content-tapper">

  <div class="header-background">
    <div class="header">
      <div class="user-info">
        <img src="{{user.userPhoto}}" alt="">
        <h4>{{user.userJson.display_name}}</h4>
      </div>
      <div class="title">
        <h1>Find your vibe</h1>
        <h5>Measure your heart rate or choose a BPM</h5>
      </div>
    </div>
  </div>

  <div class="tapper">
    <form action="/data/tapper" method="post" id="form" class="tapperBPM">
      <h3>Manual measurement of current heart-rate</h3>
      <h4>Choose a genre</h4>
      <select name="dropdown" id='dropdown'>
        {{!-- being populated via DOM manipulation --}}
      </select>
      <h4>Add a name to your playlist</h4>
      <p>(Perhaps how you feel?)</p>
      <input type="text" name="playlistName" id="playlistName" placeholder="name">
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
    </form>

    <button id="tapper">Tap</button>
    <h4 id="BPM">Tap everytime you feel a pulse</h4>
    {{!-- <button id="startbutton">Start</button> --}}
    <div class="progress">
      <div class="progress-inner green"></div>
      {{!-- <canvas id="canvas" width="160" height="20"></canvas> --}}
    </div>
  </div>
</div>
<script src="/javascripts/genres.js"></script>
<script src="/javascripts/tap.js"></script>